<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="5">
    <title>用户面板</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
        }

        .container {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #343a40;
        }

        #user-data p {
            margin-bottom: 10px;
        }

        #user-data p:last-child {
            margin-bottom: 20px;
        }

        button {
            margin-right: 10px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        button:disabled {
            background-color: #6c757d;
            cursor: default;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        .alert-info {
            background-color: #d9edf7;
            border-color: #bce8f1;
            color: #31708f;
        }

        .alert-info h4 {
            margin-bottom: 0;
        }

        .alert-info p {
            margin-top: 5px;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        {% if user_data.oncall %}
        <div class="alert alert-danger d-flex justify-content-between align-items-center" role="alert">
            <span> 正在呼叫管理员！</span>
                <button id="cancel-call-button" onclick="cancelCall()" class="btn btn-light">取消呼叫</button>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-4">控制面板</h2>
                <p>欢迎，{{ user_data.username }}！</p>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                {% if on_log %}
                <div id="notice" class="alert alert-info" role="alert">
                    <h4>正在计费</h4>
                    <p>请勿关闭浏览器窗口，否则将无法正常计费。</p>
                </div>
                {% endif %}
                <div id="user-data">
                    <p>当前时间：{{ user_data.time }}</p>
                    {% if on_log %}
                        <p>上机时间：{{ user_data.last_login }}</p>
                        <p>本次费用：{{ user_data.fee }}元</p>
                    {% else %}
                        <p>当前状态：未上机</p>
                    {% endif %}
                    <p>当前计费组：{{ group }}</p>
                    <p>当前计费组价格：{{ user_data.fee_per_minute }}元/小时</p>
                    <p>当前余额：{{ balance_left }}元</p>
                </div>

                <!-- 呼叫和取消呼叫按钮 -->
        <button id="call-button"
                onclick="callAdmin()"
                {% if user_data.oncall %}
                disabled
                {% endif %}>
            <i class="fas fa-phone"></i> 呼叫管理员
        </button>


                <button id="login-button">
                    <i class="fas fa-sign-in-alt"></i> 上机
                </button>
                <button id="logout-button">
                    <i class="fas fa-sign-out-alt"></i> 下机
                </button>
                <button id="balance" onclick="showAdminMessage()">
                    <i class="fas fa-money-bill-wave"></i> 充值
                </button>

                <script>
                    function callAdmin() {
                        fetch('/api/call_admin', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.success || data.error); // 显示呼叫结果
                        })
                        .catch(error => console.error(error));
                    }

                    function cancelCall() {
                        fetch('/api/cancel_call', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.success || data.error); // 显示取消呼叫结果
                        })
                        .catch(error => console.error(error));
                    }

                    function showAdminMessage() {
                        alert("请联系管理员");
                    }

                    // 上机按钮逻辑
                    const loginButton = document.getElementById('login-button');
                    loginButton.addEventListener('click', () => {
                        fetch('/api/login', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: `username={{ user_data.username }}`,
                        })
                        .then(response => response.text())
                        .then(data => {
                            alert(data);
                            location.reload();
                        });
                    });

                    // 下机按钮逻辑
                    const logoutButton = document.getElementById('logout-button');
                    logoutButton.addEventListener('click', () => {
                        fetch('/api/logout', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: `username={{ user_data.username }}`,
                        })
                        .then(response => response.text())
                        .then(data => {
                            alert(data);
                            location.reload();
                        });
                    });
                </script>

                <div>
                    <h3>消费记录</h3>
                    {% if billing_records %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>上机时间</th>
                                    <th>下机时间</th>
                                    <th>费用</th>
                                    <th>计费组</th>
                                    <th>描述</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in billing_records %}
                                    <tr>
                                        <td>{{ record.last_login }}</td>
                                        <td>{{ record.logout_time }}</td>
                                        <td>{{ record.fee }}元</td>
                                        <td>{{record.billing_group.name}}</td>
                                        <td>{{ record.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>暂无消费记录</p>
                    {% endif %}
                </div>

                <div id="logout-message" class="alert alert-warning" role="alert">
                    <h4>请先下机再退出，否则将持续计费！</h4>
                    <a href="/logout" class="btn btn-danger">退出登录</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
